<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/styles.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<title>HYNEWS</title>
</head>
<body>
  <div class="container">
    <div class="scrollmenu">    
      <a href="#home">ALL</a>
      <a href="#news">TIN TỨC CÔNG TY</a>
      <a href="#contact">SỰ KIỆN NỘI BỘ</a>
      <a href="#about">THÔNG BÁO</a>
    </div>
<br/>

<div class="row">
    <div class="col-lg-5">
      <!-- Blog post-->
      <div class="card mb-4">
        <a href="#!"
          ><img
            class="card-img-top"
            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
            alt="..."
        /></a>
      </div>
    </div>
    <div class="col-lg-7"> 
        <div class="card-body">
          <div class="small text-muted">January 1, 2021</div>
          <h2 class="card-title h4">Post Title</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reiciendis aliquid atque, nulla.
          </p>
          <a class="btn btn-primary" href="#!">Read more →</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <!-- Blog post-->
      <div class="card mb-4">
        <a href="#!"
          ><img
            class="card-img-top"
            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
            alt="..."
        /></a>
      </div>
    </div>
    <div class="col-lg-7"> 
        <div class="card-body">
          <div class="small text-muted">January 1, 2021</div>
          <h2 class="card-title h4">Post Title</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reiciendis aliquid atque, nulla.
          </p>
          <a class="btn btn-primary" href="#!">Read more →</a>
        </div>
      </div>
  </div>
  </div>
</body>
</html>
